/*Variables para la gestión de los colores*/
:root {
    --primary-color: #F5F4EF; 
    --secundary-color: #F0EEE5;
    --primary-text-color: #0F0F0D;
    --secondary-text-color: #C15F3C;
}


body {
    font-family: 'Segoe UI';
    font-size: 18px;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

/*Encabezado*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 2%;

    text-align: center;
}

header h1
{
    margin: 0;

    font-weight: bold;
    color: var(--secondary-text-color);
}

/*Barra de navegación*/
nav
{
    margin: 0 !important;
}

nav ul
{
    display: flex;
    justify-content:space-around;

    padding-left: 0px;
    padding: 1% 0;
    margin: 0;

    list-style: none;
    font-size: 1.5rem;
}

nav ul a
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex:1;

    padding: 15px 0px;
    
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    transition: .5s;
}

nav li 
{
    display: flex;
}

nav li a:hover, nav li a:focus {

    background-color: var(--secundary-color);
    color: var(--secondary-text-color);
    text-decoration: underline;
}

/*Contenido principal*/
main {
    margin: 0 !important;
    gap: 50px;
}

/*Enlaces*/
#div1 h2
{
    height: 10%;

    padding-left: 20px;
    margin: 5px;
}

#div1 ul
{
    height: 90%;

    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;

    list-style: none;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

#div1 li
{
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;

    transition: .5s;
}

#div1 li a
{
    text-align: center;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: .5s;
}

#div1 li:hover, #div1 li a:focus
{
    width: 80%;

    margin: auto;

    border-top: 1px solid var(--secundary-color);
    border-bottom: 1px solid var(--secundary-color);
}

#div1 li:hover a
{
    padding: 30px;
}

/*Eventos*/
#div2 {
    padding: 20px;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--secundary-color);
}

#div2 h2
{
    margin: 0;
    margin-bottom: 10px;

    color: var(--secondary-text-color);
}

/*Pie de página*/
footer {
    margin: 1.5%;

    text-align: center;
}

footer a {
    margin: 0 10px;

    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: bold;
    transition: .3s;
}

footer a:hover, footer a:focus {
    color: var(--secondary-text-color);
}