<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <%- include("../public/html/head.html")%>
</head>
<body>
    <div class="container mt-3">
        <h1>
            <%=sumando1%> + <%=sumando2%> = <%=resultado%>
        </h1>
        <a class="text-decoration-none" href="/">Volver</a>
    </div>
</body>
</html>