.container
{
    font-size: 40px;
}

/* Pantalla */
.display
{
    background: transparent;
    border: 0;
    text-align: right;
    font-size: 5rem;
    color: #FFFAF5;
}

/* Botones */
input
{
    width: 23% !important; /* Máximo ancho del 23% */
    border: 0;
    border-radius: 50px;
    color: #FFFAF5;
}

input:hover, input:focus
{
    opacity: .75;
}

.operador
{
    background-color: #FF9F0A;
}

.numero
{
    background-color: #2A2A2C;
}

.especiales
{
    background-color: #59595C;
}

/* Alturas especificas que no tiene bootstrap*/
.h-20 {
    height: 20%;
}

.h-30 {
    height: 30%;
}


/* Tamaños especificos segun tamaño de la pantalla*/
.ancho
{
    width: 30% !important;
}

@media (min-device-width: 320px) and (max-device-width: 430px) {
    .ancho {
        width: 100% !important;
    }

    .display
    {
        font-size: 10rem;
    }

    .container
    {
        font-size: 100px;
    }
}

@media (min-device-width: 430px) and (max-device-width: 600px) {
    .ancho {
        width: 70% !important;
    }

    .display
    {
        font-size: 8rem;
    }

    
    .container
    {
        font-size: 70px;
    }
}

@media (min-device-width: 600px) and (max-device-width: 1070px) {
    .ancho {
        width: 50% !important;
    }

    .display
    {
        font-size: 5rem;
    }
}

@media (min-device-width: 1070px) and (max-device-width: 1440px) {
    .ancho{
        width: 40% !important;
    }

    .display
    {
        font-size: 4rem;
    }
}


