<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <%- include("./fragments/head.ejs")%>
</head>
<body>

    <div class="container mt-3">
        <ul class="">
            <% usuarios.forEach(usuario => { %>
                <% if (usuario.activo) {%>
                    <form action="/borrar" method="post">
                    <li class="">
                        <%= usuario.nombre %>
                            <input type="hidden" name="id" value="<%= usuario.id %>">
                            <button type="submit">Borrar</button>
                            <!-- <a href="/borrar/<%= usuario.id %>" rel="noopener noreferrer">Borrar</a>  -->
                        </li>
                    </form>
                <%}%>
            <% }); %>
        </ul>
    </div>
    
</body>
</html>