<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba AJAX</title>
    <%- include("../public/html/head.html") %>
</head>

<body>
    <div class="container">
        <h1 class="font-weight-bold text-center">x 2</h1>
        <div class="">
            <label for="numero">Introduce un numero: </label>
            <input type="number" name="numero" id="numero">
            <button id="btnEnviar" type="button">Enviar</button>
            <div id="resultado"></div>
        </div>
    </div>
    <script src="/js/ajax.js"></script>
</body>

</html>