<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- ! ORDEN EN EL QUE DEBEN IR LAS DEPENDENCIAS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center-font-weight-bold">MODAL</h1>
            <%- include("./modal.ejs") %>
        </div>
        <div class="row">
            <h1 class="text-center-font-weight-bold">CARD</h1>
            <%- include("./card.ejs") %>
        </div>
    </div>
</body>

</html>





