<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de error</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="font-weight-bold text-center"><%=message%></h1>
        <h2 class="text-center text-danger"><%=status%></h2>
        <div><%=stack%></div>
    </div>
</body>
</html>