<form action="/gestion" method="post">

    <div class="modal-body">
        <h1>PRUEBA</h1>
    </div>

    <div class="modal-footer">
        <button id="cerrarEdicion" type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deshabilitarEdicion()">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button id="habilitarEdicion" type="button" class="btn btn-primary me-0" onclick="habilitarEdicion()">Editar<i class="bi bi-pencil-fill"></i></button>
    </div>

  </form>
