<head>
    <link rel="stylesheet" href="/css/gestion.css">
</head>
<form action="/gestion" method="post">

    <div class="modal-body d-flex flex-column gap-2">
        <div class="w-100 d-flex justify-content-end">
            <button class="d-flex btn btn-primary boton-nuevo-evento"> 
                <span class="material-symbols-rounded">
                    add
                </span>
                Crear nuevo evento
            </button>
        </div>

        <ul class="list-group">
            <% eventos.forEach(evento => { %>
                <% if (evento.id_organizador === usuario.id)  { %>
                    <li class="list-group-item">
                        <%- include('./evento.ejs', {evento: evento}) %>
                    </li>
                <% } %>
            <% }); %>
        </ul>

    </div>

    <div class="modal-footer">
        <button id="cerrarEdicion" type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deshabilitarEdicion()">Cerrar</button>
    </div>

  </form>
