<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header class="mx-0 d-flex justify-content-between align-items-center bg-warning sticky-top">
    <a href="http://www.ucm.es" target="_blank" rel="noopener noreferrer">
        <img src="/resources/logo.png" alt="Logotipo" class="ms-5 logo">
    </a>

    <div class="d-flex align-items-center gap-2 me-3">

        <button class="btn border-0 bg-transparent">
            <span class="material-symbols-rounded fs-2 d-flex align-items-center">
                notifications
            </span>
        </button>
         
        <% if (!usuario) { %>
        <button class="btn border-0 bg-transparent d-flex align-items-center inicio" data-bs-toggle="modal" data-bs-target="#modalLogin">
            <span class="fs-4">
                Log In
            </span>
        </button>
               
         <button class="btn border-0 bg-black d-flex align-items-center registrar"  data-bs-toggle="modal" data-bs-target="#modalSignUp">
            <span class="fs-4">
                Sign Up
            </span>
         </button>
        <% } else { %>

          <div class="d-flex align-items-center justify-content-between px-3 bg-black text-white usuario gap-4">
              <span class="fs-5"> 
                <%= usuario.usuario %>
              </span>

              <button class="btn border-0 bg-transparent d-flex align-items-center">
                <span class="material-symbols-rounded fs-2">
                    logout
                </span>
              </button>
          </div>
        <% } %>


     
         <button class="dropdown-toggle btn border-0 bg-transparent d-flex align-items-center" data-bs-toggle="dropdown" aria-label="Abrir ajustes de tema y letra" title="Ajustes de tema y letra">
             <span class="material-symbols-rounded fs-2">
                settings
             </span>
         </button>

        <!-- El menú dropdown que se muestra al hacer clic -->
        <div class="dropdown-menu dropdown-menu-end p-2 mt-2 shadow ajustes">
            <span>Tema</span>
            <ul class="list-unstyled d-grid gap-1 p-2 rounded-3 mx-0 shadow" id="Tema">
                <li><button class="dropdown-item rounded-2" value="Claro" aria-label="Activar modo claro">Claro</button></li>
                <li><button class="dropdown-item rounded-2" value="Oscuro" aria-label="Activar modo oscuro">Oscuro</button></li>
                <li><button class="dropdown-item rounded-2 active" value="Predeterminado" aria-label="Activar modo predeterminado">Predeterminado</button></li>
            </ul>
            <span class="mt-2">Letra</span>
            <ul class="list-unstyled d-grid gap-1 p-2 rounded-3 mx-0 shadow" id="Letra">
                <li><button class="dropdown-item rounded-2 active" value="Normal" aria-label="Activar tamaño de letra normal">Normal</button></li>
                <li><button class="dropdown-item rounded-2" value="Grande" aria-label="Activar tamaño de letra grande">Grande</button></li>
                <li><button class="dropdown-item rounded-2" value="Muy grande" aria-label="Activar tamaño de letra muy grande">Muy grande</button></li>
            </ul>
        </div>
      </div>


    </div>

    <!-- Funcionamiento del dropdown -->
     <script src="/js/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</header>


<!-- Modales -->

<% if(!usuario){%>
<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form action="/logIn" method="post">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Log In</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="usuario" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu usuario" required>

          <label for="contrasena" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="contrasena" placeholder="Ingresa tu contraseña" required>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>

      </form>

    </div>
  </div>
</div>

<!-- Modales -->
<div class="modal fade" id="modalSignUp" tabindex="-1" aria-labelledby="modalSignUp" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form action="/signUp" method="POST">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="usuario" class="form-label">Usuario</label>
          <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Ingresa tu usuario">

          <label for="correo" class="form-label">Correo</label>
          <input type="text" class="form-control" name="correo" id="correo" placeholder="Ingresa tu correo">

          <label for="contrasena" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="contrasena" id="contrasena" placeholder="Ingresa tu contrasena">

          <label for="telefono" class="form-label">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Ingresa tu telefono">
          
          <label for="facultad" class="form-label">Facultad</label>
          <select name="facultad" id="facultad" class="form-select">
            <option value="" disabled selected>Selecciona una opción</option>

            <% facultades.forEach(facultad => { %>
            <option value= "<%= facultad.id %>">  <%= facultad.nombre %>  </option>
            <% })%>

          </select>

          <label for="rol" class="form-label">Rol</label>
          <select name="rol" id="rol" class="form-select">
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="ingenieria">Organizador</option>
            <option value="medicina">Asistente</option>
          </select>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>

      </form>

    </div>
  </div>
</div>
<% } %> 