<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de espera del evento</title>
    <%- include('./fragments/head.ejs') %>
</head>
<body>
    
    <%- include('./fragments/header.ejs') %>
    <div class="d-flex justify-content-center">
        <% if (lista.length > 0) {%>
            <ul class="list-group">
                <% lista.forEach(u => {%>
                    <li class="list-group-item">
                        <%- include('./fragments/usuario.ejs', {u: u}) %>
                    </li>
                <% });%>
            </ul>
        <% } else { %>
            <div class="row text-center">
                <div class="col col-12">
                    <h4 class="mt-3">La lista de espera del evento está vacía</h4>
                </div>
                <div class="col col-12">
                    <p class="">Para volver a la página anterior haz click en el siguiente <a href="/organizadores">enlace</a></p>
                </div>
        <%}%>
    </div>
    <%- include('./fragments/footer.ejs') %>

    
</body>
</html>