header
{
    height: 100px;
}

.logo
{
    height: 70px;
    width: auto;
}

.focus:focus, .focus:hover
{
    text-decoration: underline;
}

.botonPerfil:focus, .botonPerfil:hover
{
    background-color: #ea4c89;
}

.registrar:focus
{
    opacity: 80%;
}

.usuario
{
    border-radius: 20px;
}

.boton-encabezado
{
    border: 0;
}

.divisor
{
    height: 50px;
}