.logo
{
    height: 70px;
    width: auto;
}

.inicio:hover
{
    text-decoration: underline;
}

.registrar
{
    color: white;
    border-radius: 20px;
    transition: .3s;
}

.registrar:hover
{
    color: white;
    border-radius: 20px;
}

.registrar:focus
{
    opacity: 80%;
}

.usuario
{
    border-radius: 20px;
}

.boton-encabezado
{
    border: 0;
}

.divisor
{
    height: 50px;
}

.activo
{
    background-color: grey;
    transition: 1s;
}

.activo:hover
{
    background-color: grey;
}