body
{
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-family: "Source Serif 4", Georgia, serif */

}

.hero
{
    font-family: "Source Serif 4", Georgia, serif;
}

.botonFiltros
{
    border: 1px solid rgb(169, 169, 169);
    border-radius: 20px;
}

@media (max-width: 768px) {
    #containerCalendario {
        position: relative; /* Cambia a relative en pantallas más pequeñas */
    }
}

@media (min-width: 768px) {
    #containerCalendario {
        position: absolute; /* Cambia a absolute en pantallas medianas y grandes */
    }
}

#inputCalendario
{
    position: absolute;
    width: 150px;
    top:70px;
    left: 10px;
}

.mensajes
{
    /* El footer de bootstrap esta en el 1030, lo superamos con 1031*/
    z-index: 1031;
}

.custom-sticky {
    top: 100px;
}