body
{
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero
{
    font-family: "Source Serif 4", Georgia, serif;
}

#abrirCalendario:focus
{
    border: 1px solid black;
}

#containerCarousel
{
    z-index: 2
}

.botonFiltros
{
    border: 1px solid rgb(169, 169, 169);
    border-radius: 20px;
}

.botonFiltros:focus
{
    text-decoration: underline;
}


.botonCalendario
{
    width: 60px;
    height: 50px;
    font-size: 18px;
    border-radius: 20px;
}
 

#inputCalendario
{
    width: 150px;
    z-index: 2;
}

.mensajes
{
    z-index: 1031;
}

.custom-sticky {
    top: 95px;
}