.fondo
{
    background: #212121;
}

/* Lista */
.lista
{
    background: #424242; 
    border:1px solid white;
    color: white !important;
    border-radius: 20px !important;
    max-height: 95vh;
    overflow-y: auto;
}

.lista .elemento
{
    background: #424242; 
    border: 2px solid white !important;
    color: white !important;
    border-radius: 20px !important;
}

/* Boton de eliminar elemento */
.lista .elemento .eliminar
{
    background-color: transparent;
    border: 0;
    fill: white;
}

/* Boton de añadir elemento */
.lista .nuevo
{
    background: #424242; 
    border-radius: 20px !important;
    border: 2px solid white !important;
    border-style: dashed !important;
    color: white !important;
    cursor: pointer;
}

/* Modal */
.modal-formato{
    background-color: #424242 !important;
    color: white !important;
    border: 2px solid white !important;
}

/* Tamaño de la lista de productos para pantallas grandes */
@media (min-device-width: 768px){
    .w-lg-50
    {
        width: 50%;
    }
}

/* Tamaño de la lista de productos para pantallas medianas */
@media (min-device-width: 425px) and (max-device-width: 768px){
    .w-md-75
    {
        width: 75%;
    }
}

/* Tamaño de la lista de productos para pantallas pequeñas */
@media (max-device-width: 425px){
    .w-sm-100
    {
        width: 100%;
    }
}