<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <%- include("./fragments/head.ejs") %>
</head>
<body>
    <div class="container text-center bg-warning">
        <h1 class="text-center fw-bold">¡Busca Tesoros!</h1>
        <p class="text-center">¡Conviértete en un verdadero corsario explorando islas en busca de tesoros ocultos! Descubre tesoros pulsando en las casillas, ¡pero cuidado con las calaveras!</p>
        <button type="button" onclick="comenzar()">Comenzar</button>
        <img src="../img/mapa.png" alt="Imagen de un mapa del tesoro">
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>