<div class="mb-3 text-center">
    <button type="button" class="btn btn-primary">
        <a href="/" class="text-decoration-none text-white">Volver a la página del formulario</a>
    </button>
</div>