body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: 18px;
}

header
{
    font-family: 'Times New Roman', Times, serif;

    display: flex;
    align-items: center;

    
    font-size: 1.5rem;

    gap: 1%;
}


header img
{
    width: 20%;
}

/*Linea divisorea*/
hr
{
    width: 60%;

    margin-left: 0;
    
    border-top: 20px solid rgb(152, 11, 11);
}

ul
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    padding-left: 0px;

    list-style: none;
    font-size: 1.5rem;

    gap: 1%;
}

.navegacion a
{
    text-decoration: none;
    color: white;
}

.navegacion li 
{
    padding: 10px;
    background-color: rgb(15, 13, 13);
}


table
{
    width: 40%;
    text-align: center;  
}

th {
    background-color: #b8b8b8;
    padding: 10px;
}

.calendario {
    background-color: #b8b8b8;
}

.desayuno {
    background-color: #be883d;
}

.desayuno-linea {
    background-color: #f0da4e;
}

.break {
    background-color: #d94f9b;
}

.break-linea {
    background-color: #d46faf;
}

.comida {
    background-color: #59b559;
}

.comida-linea {
    background-color: #71df71;
}

.social-media
{
    padding-left: 10px;
    width: 30%;
    gap: 5%;
}

.social-media img
{
    height: 4vh;
}

.rojo {

    color:red;
}

.resaltado {

    background:lightgray;
}

#tc
{
    font-style: italic;
}

/*$= es un generico que indica que debe coincidir con el final de la cadena*/
li img[src$="svg"]:hover {
    /*Transformamos el gris en rojo*/
    filter: invert(0.1) sepia(1) saturate(100);
}