*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img
{
    width: 25% !important; 
    transition: .3s
}

img:hover
{
    width: 50% !important; 
}

.card
{
    background-color: #ADD8E6;
}

.facebook
{
    border-radius: 20px;
}

