* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100%;
    width: 100%;
}
header {
    display: flex;
}
header h1 {
    margin: auto;
    font-size: 2.5rem;
}

.navbar > ul {
    list-style: none;
}

.navbar {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

/* table, td {
    border: 1px solid black;
} */

.rojo {
    color: red;
}
.resaltado {
    background: lightgray;
}

#tc {
    font-style: italic;
}

th {
    padding: 5%;
}

td {
    text-align: center;
}

.days {
    font-weight: bold;
}

.social-media img[src$=".png"]:hover {
    filter: opacity(0.6);
    background-color: red;
}

ul {
    margin-left: 0;
    padding-left: 0;  
}

ul li {
    display: inline;
    margin-left: 0;
}
ul li a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.5rem;
}

hr {
    height: 1rem;
    border-style: none;
    background-color: rgb(162, 21, 21);
}

/* Para la tabla */
.grey {
    background-color: lightgrey;
}
.orange {
    background-color: #ff9900;
}
.pink {
    background-color: #cc3399;
}
.green {
    background-color: #33cc33;
}
.light_orange {
    background-color: #ffcc00;
}
.light_pink {
    background-color: #ff00ff;
}
.light_green {
    background-color: #99ff66;
}
