<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Público</title>
    <%- include("../public/html/head.html") %>
</head>
<body>
    <h1 class="text-center">PÚBLICO</h1>
</body>
</html>