* {
    font-family: 'Roboto', sans-serif;
}

#contenedor_general {
    /* display: flex; */
    margin: 5%;
}

#contactos {
    /* width: 250px;
    height: 250px; */
}

#conversaciones {
    /* width: 500px;
    height: 500px; */
    background-image: url("../img/bla.png");
}

ul li {
    list-style: none;
}

.img-container img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

.img-container:hover {
    cursor: pointer;
}

h6:hover {
    color: red;
}

h6 {
    margin-top: 10%;
}

span {
    font-size: 0.8rem;
}

hr {
    border-top: none;
    border-bottom: 2px solid #bbb;
}