:root {
    --inicio-degradado: rgb(255, 237, 241);
    --fin-degradado: rgb(207, 146, 238);
    --text-color: rgb(20, 20, 28);
}

html {
    font-size: 18px;
}

body {
    background: radial-gradient(circle 500px, var(--fin-degradado), var(--inicio-degradado));
    background-size: 200% 200%; 
    font-family: "Poppins", sans-serif;
    animation: AnimationName 5s ease forwards;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 425px) {
    body {
        animation: AnimationNameSmall 5s ease forwards; /* Cambia la animación para pantallas pequeñas */
    }
}

/* Cambio en la posicion para pantallas grandes*/
@keyframes AnimationName {
    0% {
        background-position: 50% 150%;
    }
    100% {
        background-position: 50% 25%;
    }
}

/* Cambio en la posicion para pantallas pequeñas*/
@keyframes AnimationNameSmall {
    0% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 10%;
    }
}

/* Encabezado */
header {
    color: var(--text-color);
}

header nav li:hover, header nav li a:focus{
    text-decoration: underline;
}

/* Hero */
.seccion {
    color: var(--text-color);
    transition: 2s;
}

/* Boton conocer más */
.boton {
    background-color: var(--inicio-degradado);
    color: inherit;
    border: 1px solid rgba(20, 20, 28, 0.2);
    transition: 0.3s;
}

.boton:hover, .boton:focus {
    border-radius: 20px;
    background-color: var(--fin-degradado);
    color: var(--inicio-degradado);
}

.boton:active {
    opacity: 0.5;
}

/* Texto */
#texto-dinamico {
    transition: 0.5s;
}

/* Imagen */
#imagen {
    transition: 0.5s;
}

/* Ajustes tema y tamaño */
.ajustes {
    font-size: 18px;
    transition: 1s;
}

/* Boton ajustes tema y tamaño */
.boton_ajustes:focus{
    border: 2px solid var(--text-color) !important;
    background-color: rgb(108, 108, 108) !important;
}