:root {
    --bg-color-e1: rgb(148, 44, 44);
    --bg-color-content-e1: rgba(128, 128, 128, 0.627);
    --bg-color-options-e2: rgb(126, 126, 124);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    max-height: 100%;
}

/* Estructura 1 */
.container-e1 {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.title-e1, .footer-e1 {
    background-color: var(--bg-color-e1);
    color: white;
    font-weight: bolder;
}
.title-e1 {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-e1 {
    width: 80%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-content-e1);
    margin: 0.25% auto;
    padding-top: 1%;
}

.footer-e1 {
    width: 100%;
    height: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estructura 2 */

.container-e2 {
    display: flex;
    flex-direction: column;
    height: 85%;
    box-sizing: border-box;
}

.title-e2, .footer-e2 {
    background-color: var(--bg-color-e1);
    color: white;
    font-weight: bolder;
}

.title-e2 {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-e2 {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 0.25% 0;
}

.options-e2, .main-content-e2 {
    padding-top: 1%;
}

.options-e2  {
    background-color: var(--bg-color-options-e2);
    width: 20%; /* Ocupa el 20% de la anchura */
    display: flex;
    justify-content: center;
    margin-right: 0.25%;
}

.main-content-e2 {
    background-color: var(--bg-color-content-e1);
    width: 80%; /* Ocupa el 80% de la anchura */
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer-e2 {
    width: 100%;
    height: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estructura 3 */
/* Estructura 4 */
/* Estructura 5 */