<div class="modal-body d-flex flex-column gap-2">

    <ul class="list-group eventoInscrito">
        <% eventosInscritos.forEach(evento => { %>
                <li class="list-group-item">
                    <div id="eventoInscrito<%=evento.id%>">
                        <%- include('./evento.ejs', {evento: evento, index: false}) %>
                        <input type="hidden" name="evento" value="<%= evento %>">
                    </div>
                </li>
        <% }); %>
    </ul>

</div>

<div class="modal-footer">
    <button id="cerrarEdicion" type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cerrar ventana flotante" onclick="deshabilitarEdicion()">Cerrar</button>
</div>