<div class="dropdown-menu dropdown-menu-end p-2 mt-2 shadow">
    <p class="text-secondary small mb-0"><strong>Ctrl + I:</strong> Inscribirse en un evento.</p>
    <p class="text-secondary small mb-0"><strong>Ctrl + M:</strong> Abrir el perfil.</p>
    <p class="text-secondary small mb-0"><strong>Flechas:</strong> Navegar entre eventos.</p>
</div>
