<div class="card">
    <div class="card-body">
      <h5 class="card-title">Comentario de <%= u.nombre %></h5>
      <p class="card-text"><%= comentario.comentario %></p>
      <div class="card-footer">
        <p><%= comentario.fecha_comentario %></p>
        <p><%= comentario.valoracion %></p>
    </div>    
    </div>
  </div>