<footer class="row m-0 text-center fw-bold bg-warning pt-3 pb-3 mt-auto h-14 fixed-bottom">
        <div class="col-6">
            <i class="bi bi-geo-alt-fill"></i> <a class="text-decoration-none text-dark" href="https://informatica.ucm.es/" target="_blank" rel="noopener noreferrer">Facultad de Informática</a>
        </div>
        <div class="col-6">
            <a class="text-decoration-none text-dark ms-1 me-1" href="https://www.youtube.com/ucomplutensemadrid" target="_blank" aria-label="Canal de YouTube de la Universidad Complutense de Madrid" rel="noopener noreferrer">
                <i class="fs-4 bi bi-youtube"></i>
            </a>
            <a class="text-decoration-none text-dark ms-1 me-1" href="https://www.facebook.com/UniComplutense" target="_blank" aria-label="Cuenta de FaceBook de la Universidad Complutense de Madrid" rel="noopener noreferrer">
                <i class="fs-4 bi bi-facebook"></i>
            </a>
            <a class="text-decoration-none text-dark ms-1 me-1" href="https://twitter.com/unicomplutense" target="_blank" aria-label="Cuenta de Twitter/X de la Universidad Complutense de Madrid" rel="noopener noreferrer">
                <i class="fs-4 bi bi-twitter-x"></i>
            </a>
            <a class="text-decoration-none text-dark ms-1 me-1" href="https://www.linkedin.com/company/universidadcomplutense" target="_blank" aria-label="Cuenta de LinkedIn de la Universidad Complutense de Madrid" rel="noopener noreferrer">
                <i class="fs-4 bi bi-linkedin"></i>
            </a>
            <a class="text-decoration-none text-dark ms-1 me-1" href="https://www.instagram.com/uni.complutense/" target="_blank" aria-label="Cuenta de Instagram de la Universidad Complutense de Madrid" rel="noopener noreferrer">
                <i class="fs-4 bi bi-instagram"></i>
            </a>
            <a class="text-decoration-none text-dark ms-1 me-1" href="https://www.tiktok.com/@unicomplutense_oficial" target="_blank" aria-label="Cuenta de TikTok de la Universidad Complutense de Madrid" rel="noopener noreferrer">
                <i class="fs-4 bi bi-tiktok"></i>
            </a>
        </div>
</footer>