<head>
    <link rel="stylesheet" href="/css/gestion.css">
</head>
<div>

    <div class="modal-body d-flex flex-column gap-2">
        <div class="w-100 d-flex justify-content-end">
            <button class="d-flex btn btn-primary boton-nuevo-evento" aria-label="Crear un nuevo evento"> 
                <span class="material-symbols-rounded">
                    add
                </span>
                <a class="text-decoration-none text-white" href="/organizadores/nuevo_evento" target="_blank" rel="noopener noreferrer">
                    Crear nuevo evento
                </a>
            </button>
        </div>

        <ul class="list-group">
            <% eventos.forEach(evento => { %>
                <% if (evento.id_organizador === usuario.id)  { %>
                    <div class="evento<%=evento.id %>">
                        <li class="list-group-item">
                            <%- include('./evento.ejs', {evento: evento, index: false}) %>
                        </li>
                    </div>
                <% } %>
            <% }); %>
        </ul>

    </div>

    <div class="modal-footer">
        <button id="cerrarEdicion" type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deshabilitarEdicion()" aria-label="Cerrar">Cerrar</button>
    </div>

  </div>
