<div class="row d-flex align-items-center h-75 m-0 eventos">
    <% if(eventos.length > 0) {%>
        <input type="search" name="busqueda" id="busqueda" class="form-control mt-3 mb-3 ms-3 me-3 w-50 border border-black">
        <div id="lista_eventos">
            <% eventos.forEach(evento => { %>
                <div class="col-12 col-md-6 mt-3 mb-3"> <!-- Ajusta el tamaño de las columnas -->
                    <%- include('./evento.ejs', {evento: evento, index: true}) %>
                </div>
            <% }); %>
        </div>

    <% }else { %>

        <span class="text-secondary fs-1 text-center">No hay eventos registrados</span>

    <% }%>
</div>