<div class="row d-flex align-items-center h-75 m-0 eventos">
    <% if(eventos.length > 0) {%>

        <div class="d-flex align-items-center filtros gap-2">
            <div id="filtrosBusqueda" class="mt-3">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-label="Filtrar por" aria-expanded="false">
                        Filtrar por
                    </button>
                    <ul class="dropdown-menu">
                        <li id="filtrarPorSinFiltros"><a class="dropdown-item" href="#">Sin filtros</a></li>
                        <li id="filtrarPorTipo"><a class="dropdown-item" href="#">Tipo</a></li>
                        <li id="filtrarPorUbicacion"><a class="dropdown-item" href="#">Ubicacion</a></li>
                        <li id="filtrarPorCapacidad"><a class="dropdown-item" href="#">Capacidad maxima</a></li>
                    </ul>
                </div>

                <div id="containerFiltroTipo" class="mb-3">
                    <label for="filtroTipo" class="form-label">Tipo</label>
                    <input class="form-control" type="text" name="filtroTipo" id="filtroTipo">
                </div>
                <div id="containerFiltroUbicacion" class="mb-3">
                    <label for="filtroUbicacion" class="form-label">Ubicacion</label>
                    <input class="form-control" type="text" name="filtroUbicacion" id="filtroUbicacion">
                </div>
                <div id="containerFiltroCapacidad" class="mb-3">
                    <label for="filtroCapacidad" class="form-label">Capacidad máxima</label>
                    <input class="form-control" type="number" min="0" name="filtroCapacidad" id="filtroCapacidad">
                </div>
                <div id="containerCalendario" class="">
                    <button class="btn fs-2 mt-3" aria-label="Abrir calendario" id="abrirCalendario">
                        <i class="bi bi-calendar-event"></i>
                    </button>
                    <input type="date" class="form-control" id="inputCalendario">
                </div>
            </div>
        </div>
        

        <% eventos.forEach(evento => { %>
            <div class="evento<%=evento.id %>">
                <% if (eventosInscritos !== null) { %>
                    <% if (!eventosInscritos.find(e => e.id === evento.id)) { %>
                        <div class="col-12 col-md-6 mt-3 mb-3"> <!-- Ajusta el tamaño de las columnas -->
                            <%- include('./evento.ejs', {evento: evento, index: true}) %>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="col-12 col-md-6 mt-3 mb-3"> <!-- Ajusta el tamaño de las columnas -->
                        <%- include('./evento.ejs', {evento: evento, index: true}) %>
                    </div>
                <% } %>
            </div>
        <% }); %>

    <% } %>

    <span class="text-secondary fs-1 text-center" id="noEventos">No hay eventos registrados</span>

</div>