<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <form action="/login" method="post">
  
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Log In</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
            <label for="correo" class="form-label">Correo</label>
            <input type="text" class="form-control" name="correoLogin" id="correoLogin" placeholder="Ingresa tu correo (@ucm.es)" pattern="^[a-zA-Z0-9]+@ucm\.es$" required>
  
            <label for="contrasena" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="contrasenaLogin" id="contrasenaLogin" placeholder="Ingresa tu contraseña" minlength="4" maxlength="50" required>
            
            <button type="button" class="btn text-primary" id="textoRecuperacion"> ¿Has olvidado tu contraseña? </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cerrar">Cerrar</button>
            <button type="submit" class="btn btn-primary" aria-label="Login">Log In</button>
          </div>
  
        </form>

        <div id="contenedorRecuperarContrasena">
          <form id="formRecuperarContrasena" class="m-3" method="post" action="/recuperar">
            
            <label for="correoRecuperacion" class="form-label">Correo recuperacion</label><br>
            <input type="text" class="form-control" name="correoRecuperacion" placeholder="Inserte su direccion de correo @ucm" pattern="^[a-zA-Z0-9]+@ucm\.es$">
            
            <label for="telefonoRecuperacion" class="form-label">Telefono recuperacion</label><br>
            <input type="tel" class="form-control" name="telefonoRecuperacion" placeholder="Inserte su número de teléfono" pattern="^\+?[1-9]\d{1,14}$" required>

            <button type="submit" class="btn btn-primary mt-2" aria-label="Recuperar contraseña">Enviar correo</button>
          </form>
        </div>
  
      </div>
    </div>
    <script src="/js/logIn.js"></script>
  </div>