<!-- Notifiaciones -->
<div class="dropdown-menu p-0">
  <% if(notificaciones) {%>
    <% notificaciones.forEach(function(notificacion) { %>
      <div class="card m-2">
        <h5 class="card-header d-flex justify-content-between">
          notificacion
          <form action="/notificaciones/eliminar" method="post">
              <button type="submit" class="btn-close ms-auto" aria-label="Cerrar"></button>
              <input type="hidden" name="id" value="<%= notificacion.id %>">
          </form>
        </h5>
        <div class="card-body">
          <h5 class="card-title"><%= notificacion.fecha %></h5>
          <p class="card-text"><%= notificacion.mensaje %></p>
        </div>
      </div>
    <% }); %>
  <% } else {%>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Notificaciones</h5>
        <p class="card-text">No hay mensajes pendientes</p>
      </div>
    </div>
  <% } %>            
</div>