<!-- Toast acierto y fallo -->

<% let flashMessage = getAndClearFlash(); %>
<% if (flashMessage) { %>
    <% if (flashMessage.type == "exito") { %>
    <div id="exito" class="toast align-items-center text-bg-primary border-0 position-fixed end-0 me-4 bottom-0 mb-5 mensajes show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <%= flashMessage.message %>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <% }else if(flashMessage.type == "error"){ %>
    <div id="error" class="toast align-items-center text-bg-danger border-0 position-fixed end-0 me-4 bottom-0 mb-5 mensajes show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <%= flashMessage.message %>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <% } %>
<% } %>

<div id="errorFuncionamiento"class="toast align-items-center text-bg-danger border-0 position-fixed end-0 me-4 bottom-0 mb-5 mensajes" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
        
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>