<div class="card" style="width: 18rem;">
    <!-- Foto del usuario -->
    <img src="https://www.ucm.es/themes/ucm24/media/img/logo.svg" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= u.nombre %> <span class="text-secondary">(<%= u.correo %>)</span></h5>
      <p>Teléfono: <%= u.telefono %></p>
    </div>
  </div>