<div class="card" style="width: 18rem;">
    <!-- Foto del usuario -->
    <img src="/imagen/<%= usuario.id %>" alt="Foto de usuario" class="card-img-top img-fluid m-auto  w-50 h-50 rounded-circle border border-white border-1" width="25" height="25" onerror="this.src='/resources/icon-default.png'"/>


    <div class="card-body">
      <h5 class="card-title"><%= usuario.nombre %> <span class="text-secondary">(<%= usuario.correo %>)</span></h5>
      <p>Teléfono: <%= usuario.telefono %></p>
    </div>
  </div>