h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}

img
{
    width: 250px;
    height: 250px;
    background-size: 100%;
    border: 1px solid;
}

.container
{
    border: 10px solid #17375E;
}

.secundario
{
    margin-left: 200px;
    margin-top: 10px
}