:root {
    --black: #000000;
    --orange: #ff6d09;
    --grey: #979797;
    --white: #ffffff;
}

body {
    background-color: var(--black);
    color: var(--white)
}

a {
    text-decoration: none;
    color: var(--orange);
}

.list-inline-item:hover {
    scale: 1.1;
    font-weight: bold;
}

#acerca-de-nosotros ul {
    list-style-type: square;
}

#acerca-de-nosotros ul li:hover {
    list-style-type: circle;
}

#acerca-de-nosotros ul li a:hover {
    font-style: italic;
    text-decoration: none;
    font-weight: bolder;
}

#derechos {
    color: var(--grey);
}