:root {
    --black: #000000;
    --orange: #ff6d09;
    --grey: #979797;
    --white: #ffffff;

    --bg-dark-orange: #c44601;
    --bg-light-orange: #f57600;
    --bg-light-blue: #8babf1;
    --bg-med-blue: #0073e6;
    --bg-dark-blue: #054fb9;
}

body {
    background-color: var(--bg-light-blue);
    color: var(--white)
}

.container {
    background-color: var(--bg-med-blue);
}

a {
    text-decoration: none;
    color: var(--bg-light-orange);
}

.list-inline-item:hover {
    scale: 1.1;
    font-weight: bold;
}

#acerca-de-nosotros ul {
    list-style-type: square;
}

#acerca-de-nosotros ul li:hover {
    list-style-type: circle;
}

#acerca-de-nosotros ul li a:hover {
    font-style: italic;
    text-decoration: none;
    font-weight: bolder;
}

#derechos {
    color: var(--bg-dark-blue);
}